# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
# Ignore all node_modules
node_modules/
client/node_modules/
server/node_modules/    
npm-debug.log
yarn-error.log
server/env

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.angular/cache/
.angular/cache/19.2.4/client
/.angular/cache/19.2.4/client
/.angular/cache/19.2.4/client/vite
client/.angular/cache/19.2.4/client/vite/deps/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
client/.angular/cache/19.2.4/client/.tsbuildinfo
client/.angular/cache/19.2.4/client/vite/deps/_metadata.json
client/.angular/cache/19.2.4/client/vite/deps/@angular_cdk_bidi.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_cdk_bidi.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_cdk_text-field.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_cdk_text-field.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_common_http.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_common_http.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_core.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_core.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_forms.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_forms.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_button.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_button.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_card.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_card.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_form-field.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_form-field.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_input.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_input.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_radio.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_radio.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_table.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_table.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_toolbar.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_material_toolbar.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_platform-browser.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_platform-browser.js.map
client/.angular/cache/19.2.4/client/vite/deps/@angular_router.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_router.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-2DWME7IM.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-2DWME7IM.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-2UTUFQXY.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-2UTUFQXY.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-4OSDOIFK.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-4OSDOIFK.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-7DQK5JG4.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-7DQK5JG4.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-7EZ74L25.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-7EZ74L25.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-65RJ5ZZ2.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-65RJ5ZZ2.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-A7RDGFB5.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-A7RDGFB5.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-EXOEQGAB.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-EXOEQGAB.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-K4TJVFXS.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-K4TJVFXS.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-PFLGQ7LY.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-PFLGQ7LY.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-RXVQCC6F.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-RXVQCC6F.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-S2Z5BMX7.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-S2Z5BMX7.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-SKC2FQYN.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-SKC2FQYN.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-WXJKRQFA.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-WXJKRQFA.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-XKHHSW5G.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-XKHHSW5G.js.map
client/.angular/cache/19.2.4/client/vite/deps/package.json
client/.angular/cache/19.2.4/client/vite/deps_ssr/_metadata.json
client/.angular/cache/19.2.4/client/vite/deps_ssr/package.json
client/.angular/cache/19.2.4/client/vite/deps/@angular_common.js
client/.angular/cache/19.2.4/client/vite/deps/@angular_common.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-5BCDBPDA.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-5BCDBPDA.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-7GNHDFYZ.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-7GNHDFYZ.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-52XWHHAK.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-52XWHHAK.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-EWVYP6LL.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-EWVYP6LL.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-IJ5TEWC2.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-IJ5TEWC2.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-IN7R4RGA.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-IN7R4RGA.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-JG2FQA53.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-JG2FQA53.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-NMPXMP5F.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-NMPXMP5F.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-QCREF57X.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-QCREF57X.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-SZ4ZT4NR.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-SZ4ZT4NR.js.map
client/.angular/cache/19.2.4/client/vite/deps/chunk-TT45L4RF.js
client/.angular/cache/19.2.4/client/vite/deps/chunk-TT45L4RF.js.map
